# Clonamos el repositorio para obtener los dataSet

In [ ]:
!git clone https://github.com/joanby/machinelearning-az.git

# Damos acceso a nuestro Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Test it

In [ ]:
!ls '/content/drive/My Drive'

#Google colab tools

In [ ]:
from google.colab import files # Para manejar los archivos y, por ejemplo, exportar a su navegador
import glob # Para manejar los archivos y, por ejemplo, exportar a su navegador
from google.colab import drive # Montar tu Google drive

# Plantilla de Pre Procesado - Datos faltantes

# Cómo importar las librerías

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importar el data set

In [2]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

# Tratamiento de los NAs

In [3]:
from sklearn.impute import SimpleImputer

In [5]:
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean", verbose=0)
#buscamos los valores nulos mediante el metodo simpleimputer, usando la estrategia de reemplazar por la media
#de los datos
imputer = imputer.fit(X[:,1:3]) #aqui se usa la función fit para aplicar el metodo simpleimputer a las columnas 1 y 2
#que son columnas numericas

X[:, 1:3] = imputer.transform(X[:,1:3]) #vamos a convertir los valores nan por la media usando transform y reemplazarlos en la matriz X
print(X)
print(X.shape)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
(10, 3)

c:\Users\USUARIO\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\impute\_base.py:337: FutureWarning: The 'verbose' parameter was deprecated in version 1.1 and will be removed in 1.3. A warning will always be raised upon the removal of empty columns in the future version.
  warnings.warn(

In [6]:
result = pd.DataFrame({'Column1': X[:, 0], 'Column2': X[:, 1],'Column3': X[:, 2]})

In [7]:
display(result)

   Column1    Column2       Column3
0   France       44.0       72000.0
1    Spain       27.0       48000.0
2  Germany       30.0       54000.0
3    Spain       38.0       61000.0
4  Germany       40.0  63777.777778
5   France       35.0       58000.0
6    Spain  38.777778       52000.0
7   France       48.0       79000.0
8  Germany       50.0       83000.0
9   France       37.0       67000.0